https://www.geeksforgeeks.org/geek-streak-30-days-potd-challenge/

It is not as easy as it sounds, so if you have it in you, here is how to go about the Geek Streak:

1. Solve the Problem of the Day on GeeksforGeeks Practice and as you do, take a screenshot.
2. Upload a screenshot of the solved problem on X or LinkedIn with the hashtag, #geekstreak2024
3. Do this for 30 days without any breaks, and keep taking screenshots of all the POTD you have successfully solved for 30 consecutive days.



@Padha_Chuskundham
